@charset "UTF-8";

header, header > nav {
    flex-flow: column nowrap;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.486);
}

header > h1 {
    flex-basis: 50px;
}

header > nav > a {
    width: 90vw;
}