body {
    background-color: rgb(165, 165, 167);
    color:white
    font:normal 20pt Arial;
}

body#pag02 {
    background-color: rgb(78, 212, 66);
    color:white
    font:normal 20pt Arial;
}

body#pag03 {
    background-color: rgb(235, 236, 161);
    color:white
    font:normal 20pt Arial;
}

h1 {
    color:rgb(104, 101, 102)
}

h1#verde {
    color: rgb(28, 97, 28);
}

h1#amarelo {
    color: rgb(145, 145, 50);
}